<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Discuss · Phoenix Framework</title>

    <!-- CSS -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/materialize.js") %>"></script>

  </head>

  <body>

    <header>

      <nav class="light-blue">
        <div class="nav-wrapper container">

          <%= link to: Routes.page_path(@conn, :index), class: "brand-logo center" do %> Discussions <% end %>
          <a href="" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>

          <ul id="nav-mobile" class="right">

            <%= if @conn.assigns[:user] do %>
              <li> <%= link to: Routes.auth_path(@conn, :delete), method: :delete do %> Sing Out <% end %> </li>
            <% else %>
              <li> <%= link to: Routes.auth_path(@conn, :request, :github) do %> Sign In with Github <% end %> </li>
            <% end %>

          </ul>

        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">

        <li> <%= link to: Routes.topic_path(@conn, :index) do %> List of Topics <% end %> </li>
        <li> <%= link to: Routes.topic_path(@conn, :new) do %> Add Topic <% end %> </li>

      </ul>

    </header>

    <main role="main" class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner_content %>

    </main>

  </body>

</html>
